{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>                  Edupath
    </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" type="text/css" href="/static/css/about_us.css?{% now "U" %}">
  </head>

  <body>
    <header class="header">
        <nav class="navbar">
          <div class="navbar-left">
            <ul>
              <li><a href="/landing/">Home</a></li>
              <li><a href="/abts/">About Us</a></li>
              <li><a href="/contact/">Contact Us</a></li>
              <li><a href="universities.html">Universities</a></li>

            </ul>
          </div>
          <div class="navbar-center">
<img src="{% static 'img/logo.png' %}" alt="logo">          </div>
          <div class="navbar-right">
            <ul class="button-list">
                <li><a href="/reg/" class="button">Register</a></li>
                <li><a href="/login/" class="button">Login</a></li>
              </ul>
              
          </div>
        </nav>
      </header>
      
    <!--================ Start Header Menu Area =================-->
  
    <!--================ End Header Menu Area =================-->
    <div class="bnrabs1">
      <div class="single_feature">
          <div class="icon">
              <!-- Your image goes here -->
              <img src="{% static 'img/abtsBanner2.jpg' %}" alt="Feature Image">
          </div>
      </div>
      <div class="single_feature">
          <h4>Our Mission and Story</h4>
          <p>Edupath is dedicated to empowering baccalaureate students in making well-informed academic and career decisions. Our mission is to provide students with the tools and resources they need to find the best major and university that suits them using AI technology. We believe that every student deserves the opportunity to pursue their passions and achieve their goals. Our story began with a vision to revolutionize the way students navigate their educational journey, and we continue to strive towards that goal every day.</p>
          <!-- Buttons -->
      </div>
  </div>
  
  
       <!--================ Start Nos Services =================-->
     
    
    
    <!--================ End Home Banner Area =================-->
    <div class="bnrabs2">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="single_feature">
                <div class="icon">
                  <!-- Your image goes here -->
                  <img src="{% static 'img/banner3.png' %}" alt="Feature Image">
                </div>
                <h4>Discover Your Perfect Major and University with QuizMatcher</h4>
                <p>QuizMatcher is an innovative tool that utilizes AI to help students find the best majors and universities that suit their interests and goals. By taking a personalized quiz, students can uncover their strengths, passions, and career aspirations, allowing them to make well-informed academic and career decisions. With QuizMatcher, finding the perfect fit has never been easier.</p>
                <!-- Buttons -->
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--================ Start Home Banner Area =================-->
      
    <!--================ Start Nos Services =================-->
    <div class="bnrabs4">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="single_feature">
                <div class="icon">
                  <!-- Your image goes here -->
                </div>
                <h4>Discover Your Perfect Path</h4>
                <p>Explore our QuizMatcher and Blog to find the best major and university for you.</p>
                <!-- Buttons -->
                <div class="buttons">
                  <a href="landing.html" class="button">Learn More</a>
                  <a href="login.html" class="button">Start</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--================ End Feature Area =================-->
  

    <!--================ End Registration Area =================-->
<br><br>
    <!--================ Start footer Area  =================-->
    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <!-- Location and contact info -->
              <div class="location-info">
                <p>Mahelma , Algiers ,Algeria</p>
                <p>edupath@gmail.com</p>
                <p>05698626595</p>

              </div>
            </div>
            <div class="col-lg-6">
              <!-- Logo image -->
              <div class="logo">
              </div>
              <!-- Navigation links -->
              <div class="footer-links">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
      
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/owl-carousel-thumb.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="static/js/script.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
