
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500|Rubik:500, 600");
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
body {
  line-height: 25px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #7b838a; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #002347; }

.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.row.m0 {
  margin: 0px; }

button:focus {
  outline: none;
  box-shadow: none; }

.mb-15 {
  margin-bottom: 15px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.white_bg {
  background: #fff !important; }

.mt-100 {
  margin-top: 100px; }
  @media (max-width: 991px) {
    .mt-100 {
      margin-top: 0px; } }

.mt--100 {
  margin-top: -100px; }
  @media (max-width: 991px) {
    .mt--100 {
      margin-top: 0px; } }

.title-bg {
  background: #002347; }

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.section_gap {
  padding: 130px 0; }
  @media (max-width: 991px) {
    .section_gap {
      padding: 70px 0; } }

.section_gap_top {
  padding-top: 130px; }
  @media (max-width: 991px) {
    .section_gap_top {
      padding-top: 70px; } }

.section_gap_bottom {
  padding-bottom: 130px; }
  @media (max-width: 991px) {
    .section_gap_bottom {
      padding-bottom: 70px; } }

/* Main Title Area css
============================================================================================ */
.main_title {
  text-align: center;
  margin-bottom: 100px; }
  @media (max-width: 991px) {
    .main_title {
      margin-bottom: 40px; } }
  .main_title h2 {
    font-size: 36px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 15px; }
    @media (max-width: 575px) {
      .main_title h2 {
        font-size: 30px;
        margin-bottom: 10px; } }
  .main_title p {
    font-size: 16px;
    margin-bottom: 0px;
    font-style: italic; }
  

.lite_bg {
  background: #f9f9f9; }

/* End Main Title Area css
============================================================================================ */
/* Start Overlay css
============================================================================================ */
.overlay {
  position: relative; }

.overlay:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  z-index: -1; }

/* End Overlay css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.header_area {
  position: absolute;
  width: 100%;
  z-index: 99;
  transition: background 0.4s, all 0.3s linear; }
  .header_area .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px; }
    .header_area .navbar .nav .nav-item {
      margin-right: 45px; }
      .header_area .navbar .nav .nav-item .nav-link {
        font: 500 14px/80px "Rubik", sans-serif;
        text-transform: capitalize;
        color: #002347;
        padding: 0px;
        display: inline-block; }
        @media (max-width: 991px) {
          .header_area .navbar .nav .nav-item .nav-link {
            color: #ffffff; } }
        .header_area .navbar .nav .nav-item .nav-link:after {
          display: none; }
      .header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
        color: #fdc632; }
      .header_area .navbar .nav .nav-item.submenu {
        position: relative; }
        .header_area .navbar .nav .nav-item.submenu ul {
          border: none;
          padding: 0px;
          border-radius: 0px;
          box-shadow: none;
          margin: 0px;
          background: #fff; }
          @media (min-width: 992px) {
            .header_area .navbar .nav .nav-item.submenu ul {
              position: absolute;
              top: 120%;
              left: 0px;
              min-width: 200px;
              text-align: left;
              opacity: 0;
              transition: all 300ms ease-in;
              visibility: hidden;
              display: block;
              border: none;
              padding: 0px;
              border-radius: 0px; } }
          .header_area .navbar .nav .nav-item.submenu ul:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #eeeeee transparent transparent transparent;
            position: absolute;
            right: 24px;
            top: 45px;
            z-index: 3;
            opacity: 0;
            transition: all 400ms linear; }
          .header_area .navbar .nav .nav-item.submenu ul .nav-item {
            display: block;
            float: none;
            margin-right: 0px;
            border-bottom: 1px solid #ededed;
            margin-left: 0px;
            transition: all 0.4s linear; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
              line-height: 45px;
              color: #002347;
              padding: 0px 30px;
              transition: all 150ms linear;
              display: block;
              margin-right: 0px; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
              border-bottom: none; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
              background: #fdc632;
              color: #fff; }
        @media (min-width: 992px) {
          .header_area .navbar .nav .nav-item.submenu:hover ul {
            visibility: visible;
            opacity: 1;
            top: 100%; } }
        .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
          margin-top: 0px; }
      .header_area .navbar .nav .nav-item:last-child {
        margin-right: 0px; }
    .header_area .navbar .search {
      font-size: 12px;
      line-height: 60px;
      display: inline-block;
      color: #002347; }
      .header_area .navbar .search i {
        font-weight: 600; }
  .header_area.white-header .navbar .nav .nav-item.active .nav-link, .header_area.white-header .navbar .nav .nav-item:hover .nav-link {
    color: #fdc632; }
  .header_area.white-header .navbar .nav .nav-item .nav-link {
    color: #ffffff; }
  .header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #ffffff;
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
    -ms-transform: translateY(70px);
    -o-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
      line-height: 70px; }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
      color: #002347; }
  .header_area.white-header.navbar_fixed .main_menu {
    background: #002347; }
    .header_area.white-header.navbar_fixed .main_menu .navbar .nav .nav-item.active .nav-link, .header_area.white-header.navbar_fixed .main_menu .navbar .nav .nav-item:hover .nav-link {
      color: #fdc632; }

#search_input_box {
  background: #fdc632;
  text-align: center;
  padding: 5px 20px; }
  #search_input_box .form-control {
    padding-left: 0;
    background: transparent;
    border: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px; }
    #search_input_box .form-control:focus {
      box-shadow: none;
      outline: none; }
  #search_input_box input.placeholder {
    color: #ffffff;
    font-size: 16px;
    font-weight: normal; }
  #search_input_box input:-moz-placeholder {
    color: #ffffff;
    font-size: 16px;
    font-weight: normal; }
  #search_input_box input::-moz-placeholder {
    color: #ffffff;
    font-size: 16px;
    font-weight: normal; }
  #search_input_box input::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 16px;
    font-weight: normal; }
  #search_input_box .btn {
    width: 0;
    height: 0;
    padding: 0;
    border: 0; }
  #search_input_box #close_search {
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 0; }

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Home Banner Area css
============================================================================================ */
.home_banner_area {
  z-index: 1;
  min-height: 900px;
  position: relative;
  background: url(../img/home_banner.png) no-repeat center;
  background-size: cover;
}

.home_banner_area .banner_inner {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
}

@media (max-width: 991px) {
  .home_banner_area .banner_inner {
    top: 50%;
  }
}

.home_banner_area .banner_inner .banner_content {
  position: relative;
  z-index: 2;
  text-align: center; /* Center align text */
}

.home_banner_area .banner_inner .button
{
color: #00070e;
background-color: #00234700;
font-size: 20px;
border-radius: 30px;
font-weight: 500; /* Corrected font weight */
}



/* End Home Banner Area css
============================================================================================ */
/* Home Banner 2  Area css
============================================================================================ */
.home_banner_area2 {
  z-index: 1;
  min-height: 900px;
  position: relative;
  background: url(../img/banner2.png) no-repeat center;
  background-size: cover;
}

.home_banner_area2 .banner_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
}

@media (max-width: 991px) {
  .home_banner_area2 .banner_inner {
    top: 50%;
  }
}

.home_banner_area2 .banner_inner .banner_content h2 {
  font-size: 48px;
  font-weight: 500;
}

.home_banner_area2 .banner_inner .banner_content p {
  font-size: 20px;
  color: #002347;
  font-weight: 500;
}

.widget-container {
  display: flex;
  margin: 0px;
  justify-content: space-between; /* Adjust as needed */
}

.widget {
  width: calc(33.33% - 20px); /* Adjust width and margin as needed */
  text-align: center;
  margin-bottom: 30px;
}

.widget-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.widget-content {
  font-size: 10px;
  margin-bottom: 20px;
  width: 80%; /* Adjust width as needed */
  margin: 0 auto; /* Center the content */
}

.widget-button {
  padding: 10px 20px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.widget-button:hover {
  background-color: #0056b3; /* Button background color on hover */
}

/* End Home Banner Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Start About Area css
============================================================================================ */
.h_blog_item .col-lg-6 {
  vertical-align: middle;
  align-self: center; }
.h_blog_item .h_blog_img {
  position: relative;
  z-index: 10; }
.h_blog_item .h_blog_text {
  padding-top: 0px;
  padding-bottom: 20px; }
  .h_blog_item .h_blog_text .h_blog_text_inner {
    background: #fff;
    padding: 75px 90px;
    border-radius: 10px; }
    @media (max-width: 991px) {
      .h_blog_item .h_blog_text .h_blog_text_inner {
        padding: 30px 15px; } }
    .h_blog_item .h_blog_text .h_blog_text_inner.left {
      position: relative;
      z-index: 2; }
    .h_blog_item .h_blog_text .h_blog_text_inner.right {
      margin-left: -104px;
      position: relative;
      z-index: 1;
      border: 10px solid #f9f9ff; }
      @media (max-width: 991px) {
        .h_blog_item .h_blog_text .h_blog_text_inner.right {
          margin-left: 0px; } }
    .h_blog_item .h_blog_text .h_blog_text_inner h4 {
      color: #002347;
      font-size: 30px;
      margin-bottom: 15px; }
    .h_blog_item .h_blog_text .h_blog_text_inner p {
      margin-bottom: 30px; }

/* End About Area css
============================================================================================ */
/* Start banner3 Area css
============================================================================================ */
.banner3 {
  padding-bottom: 100px;
  margin: 50px;
}
@media (max-width: 991px) {
  .banner3 {
    padding-bottom: 40px;
  }
}

.single_feature {
  position: relative;
  background: #f9f9ff;
  padding: 0; /* Remove padding */
  margin-bottom: 30px;
  height: auto; /* Set height to auto */
  overflow: hidden; /* Clear floats */
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 480px) {
  .single_feature {
    padding: 0; /* Remove padding */
  }
}
.single_feature .icon {
  float: right; /* Align the icon to the right */
  margin-left: 20px; /* Adding some space between icon and text */
}
.single_feature .icon img {
  width: auto; /* Set image width to auto */
  height: 100%; /* Set image height to 100% */
}.single_feature h4 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px; /* Add margin to separate from buttons */
  line-height: 1.2; /* Adjust line height as needed */
}

.single_feature p {
  margin-bottom: 0px;
}
.single_feature .buttons {
  margin-top: 20px; /* Add margin to separate from text */
}
.single_feature .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Your button color */
  color: #fff; /* Button text color */
  text-decoration: none;
  border-radius: 20px; /* Border radius */
  margin-right: 10px; /* Add margin between buttons */
}
.single_feature .button:last-child {
  margin-right: 0; /* Remove margin from last button */
}


/* End Features Area css
============================================================================================ */
.banner5 {
  padding-bottom: 100px;
  margin: 50px;
  text-align: center; /* Center all elements */
}
@media (max-width: 991px) {
  .banner5 {
    padding-bottom: 40px;
  }
}

.single_feature {
  position: relative;
  background: #f9f9ff;
  padding: 0; /* Remove padding */
  margin-bottom: 30px;
  height: auto; /* Set height to auto */
  overflow: hidden; /* Clear floats */
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center; /* Center text */
}
@media (max-width: 480px) {
  .single_feature {
    padding: 0; /* Remove padding */
  }
}

.single_feature h4 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px; /* Add margin to separate from buttons */
  line-height: 1.2; /* Adjust line height as needed */
}

.single_feature p {
  margin-bottom: 0px;
}
.single_feature .buttons {
  margin-top: 20px; /* Add margin to separate from text */
  text-align: center; /* Center buttons */
}
.single_feature .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Your button color */
  color: #fff; /* Button text color */
  text-decoration: none;
  border-radius: 20px; /* Border radius */
  margin-right: 10px; /* Add margin between buttons */
}
.single_feature .button:last-child {
  margin-right: 0; /* Remove margin from last button */
}


/* End Features Area css
============================================================================================ */
.banner6 {
  padding-bottom: 100px;
  margin: 10px;
  
  text-align: center; /* Center all elements */
}
@media (max-width: 991px) {
  .banner6 {
    padding-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .banner6 .container {
    padding: 0; /* Remove padding */
  }
}

.banner6 .container {
  margin-bottom: 30px;
  height: auto; /* Set height to auto */
  overflow: hidden; /* Clear floats */
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center; /* Center text */
  background: linear-gradient(180deg, #27279c, rgb(177, 238, 253)); /* Gradient background */
padding-top: 40px;
}

.banner6 .container h2 {
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px; /* Add margin to separate from buttons */
  line-height: 1.2; /* Adjust line height as needed */
}

.banner6 .container h4 {
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px; /* Add margin to separate from buttons */
  line-height: 1.2; /* Adjust line height as needed */
}
.banner6 .container  p {
  color: white;

  margin-bottom: 0px;
}
.banner6 .container .buttons {
  margin-top: 20px; /* Add margin to separate from text */
  text-align: center; /* Center buttons */
}

.banner6 .faq-widget {

  padding: 100px;
  display: flex;

}

.banner6 .faq-column {
  flex: 1;

}

.banner6 .faq-item {
  padding: 10px ;

}

.banner6 .question {
  cursor: pointer;

  border: 1px solid #ffffff;
  border-radius: 0px;

}

.banner6 .answer {
  display: none;
}

.banner6 .contact-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.banner6 .small-text {
  text-align: center;
}


/* End Features Area css
============================================================================================ */
.banner4 {
  padding-bottom: 10px;
  margin: 10px;
  text-align: center; /* Center all elements */
}
@media (max-width: 991px) {
  .banner4 {
    padding-bottom: 40px;
  }
}
.banner4 .single_feature {
  position: relative;
  background: linear-gradient(135deg, #dadaff, #b1b1fd); /* Gradient background */
  padding: 0; /* Remove padding */
  margin-bottom: 30px;
  padding: 100px;
  height: auto; /* Set height to auto */
  overflow: hidden; /* Clear floats */
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center; /* Center text */
}
@media (max-width: 480px) {
  .single_feature {
    padding: 0; /* Remove padding */
  }
}

.single_feature h4 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px; /* Add margin to separate from buttons */
  line-height: 1.2; /* Adjust line height as needed */
}

.banner4 .single_feature p {
  margin-bottom: 0px;
  color: #111111;
}
.single_feature .buttons {
  margin-top: 20px; /* Add margin to separate from text */
  text-align: center; /* Center buttons */
}
.single_feature .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Your button color */
  color: #fff; /* Button text color */
  text-decoration: none;
  border-radius: 20px; /* Border radius */
  margin-right: 10px; /* Add margin between buttons */
}
.single_feature .button:last-child {
  margin-right: 0; /* Remove margin from last button */
}.banner4 .reviews-widget {
  position: relative;
  overflow: hidden;
}

.banner4 .reviews-container {
  margin: 20px;
  display: flex;
  transition: transform 0.3s ease;
}

.banner4 .review {
  flex: 0 0 auto;
  width: 300px;
  padding: 20px;
  margin-right: 20px;
}

.banner4 .scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #007bff;
}

.banner4 .left-arrow {
  left: 10px;
}

.banner4 .right-arrow {
  right: 10px;
}





.header {
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left,
.navbar-right {
  flex: 1;
}

.navbar-center {
  flex: 1;
  text-align: center;
}

.navbar-left ul,
.navbar-right ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-left ul li,
.navbar-right ul li {
  display: inline;
  margin-right: 20px;
}

.navbar-left ul li:last-child,
.navbar-right ul li:last-child {
  margin-right: 0;
}

.navbar-left ul li a,
.navbar-right ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.navbar-right ul {
  text-align: right;
}
.header img {
  max-width: 100px; /* Adjust the maximum width as needed */
  height: auto; /* Maintain aspect ratio */
}
.button-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button-list li {
  display: inline-block;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #cccccc; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e9e9e9; /* Button background color on hover */
}
.footer {
  background-color: #ffffff; /* White background */
  padding: 50px 0; /* Adjust padding as needed */
}
.footer .container
{
  padding: 30px;
  border: 1px solid black;
}
.location-info {
  margin-bottom: 20px; /* Space between location and contact info */
}

.logo {
  text-align: center; /* Center the logo */
  margin-bottom: 20px; /* Space between logo and navigation links */
}

.footer-links {
  text-align: right; /* Align navigation links to the right */
}

.footer-links ul {
  list-style: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin-bottom: 10px; /* Space between navigation links */
}

.footer-links ul li a {
  color: #000000; /* Link color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Bold font */
  font-size: 16px; /* Font size */
}

.footer-links ul li a:hover {
  color: #007bff; /* Link color on hover */
}
